<%= form_with(model: listing, local: true) do |form|%>
<div class="container ">
<h1 class="font-weight-bold font-italic">New Listing</h1>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, :min => 0  %>
  </div>
  <div class="field">
     <%= form.label :size_id %>  
    <%= form.select(:size_id, @sizes.map{|l| [l.size, l.id]}) %> 
  </div>
<% @conditions.each do |option| %>
    <div class="field">
    <%= form.radio_button :condition, option %>
    <%= form.label "condition_#{option}".to_sym, option, value: listing.condition%>
    <div>
    <% end %>
  
  <div class="field">
     <%= form.label :location_id %>  
    <%= form.select(:location_id, @locations.map{|l| [l.state, l.id]}) %> 
  </div>

   <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>  

  <div class="field">
     <%= form.label :picture %>  
    <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg', multiple: true %> 
  </div>

  <div class="actions">
    <%= form.submit "List your shoes", class:"btn btn-success" %>
  </div>
</div>  
<% end %>
