<p id="notice"><%= notice %></p>

<div class="container d-flex flex-column flex-md-row px-2 my-2 my-my-5">
  
    <div class="col-sm-8">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <%@listing.picture.each_with_index do |p,i|%>
            <div class="carousel-item <%= "active" if i==0 %>">
              <%= image_tag  p, style:"width:30rem" %>
            </div>
          <%end%>
        </div>

        <a class="carousel-control-prev bg-primary" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next bg-primary" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
 

  <div class="sidebar col-lg-4 mx-auto">
    <div class="col-12 p-3 price-container">
      <button data-stripe="payment">Buy now </button>
      <script src="https://js.stripe.com/v3/"></script>

      <script>
        document
          .querySelector("[data-stripe='payment']")
          .addEventListener("click", () => {
            const stripe = Stripe(
              "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
            );

            stripe.redirectToCheckout({
              sessionId: "<%= @session_id %>"
            });
          });
      </script> <br>
      <%= number_to_currency(@listing.price) %> <br>
      <%= @listing.brand%>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem optio maxime repudiandae excepturi velit minus quas consequuntur est omnis culpa magnam, voluptate consequatur. Est enim perspiciatis minus alias libero animi.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium neque at nulla officiis alias voluptatum nobis aliquid deleniti suscipit placeat, consectetur labore commodi nesciunt iure similique eius repellendus accusamus corporis.</p>
    </div>
  </div>

</div>
