<%# search function using ransack gem%>
<%= search_form_for @q do |f| %>
    <%= f.label "Find shoe:" %>
    <%= f.search_field :brand_or_model_cont %>
    <%= f.submit %>
<%end%>
<%# listings view%>
<div class="row row-cols-1 row-cols-md-4">
<% @listings.each do |listing|%>
    
    <div class="card">
        <%= image_tag  listing.listing_attachment ,style:"width: 20rem;"%>
        <div class="card-body">
            <h4 class="card-header">
                <%= listing.brand%>
            </h4>
            <h5 class="card-title mb-2">
                <%= listing.model%>
            </h5>
            <h5 class="card-subtitle">
                $<%= listing.price%>
            </h5>
            <%= link_to  "Show", listing , class:"btn btn-outline-primary" %>
            <%if current_user == listing.user_id%>
                <%= link_to  "Edit", edit_listing_path(listing), class:"btn btn-outline-info" %>
                <%= link_to  "Destroy", listing,class:"btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            <%end%>
        </div>
    </div>
    
<%end%>
</div>